---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/Lato-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

html  body{
  margin: 0;
  padding: 0;
  font-family: "Lato",sans-serif;
  
}

iframe {
  border: 0;
}

.page-content {
  margin-top: 62px;
}

.button-link-reverse {
  border: 2px solid #02C7F7;
  height: 38px;
  line-height: 38px;
  border-radius: 18px;
  padding: 0px 28px;
  display: inline-block;
  color: #02C7F7;
  transition: color 0.2s, background 0.2s;
}

.button-link-reverse:hover {
  background-color: #02C7F7;
  color: #FFF;
  text-decoration: none;
}

.button-link {
  border: 2px solid #02C7F7;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  border-radius: 18px;
  padding: 0px 28px; 
  color: #FFF;
  background-color: #02C7F7;
  transition: color 0.2s, background 0.2s;
}

.button-link:hover {
  color: #10171F;
  text-decoration: none;
}

nav{
  background-color: #10171F;
  display: block;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}

nav ul {
  margin: auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 0;
  align-items: flex-start;
  justify-content: center;
}

nav li {
  display: block;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 16px;
  text-transform: none;
  font-family: "Lato",Arial,Helvetica,sans-serif;
  transition: color 0.3s, background 0.3s;
  height: 62px;
  
  &:not(:last-child):not(:first-child):hover, &.selected {
    border-bottom: solid 6px #02C7F7;
    transition: color 0.3s, border 0.3s;
    
    a {
      color: white;
    }
  }
}

nav a, .language-switcher>* {
  display: block;
  text-decoration: none;
  color: #BABCB8;
  padding: 20px;
  height: 62px;
}

nav li:first-child a {
  padding: 0.1em;
}

nav a:hover {
  color: white;
}

nav .button-link-reverse {
  margin-top: 12px;
}

.language-switcher {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  z-index: 2;
  text-transform: uppercase;

  span {
    color: #02C7F7;
  }
}

#descSite {
  background-color: #F9FBFF;
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  margin: 0;
  font-family: "Lato",Arial,Helvetica,sans-serif;
}

#dashHashtag {
  background-image: url("/assets/design/orca_background.jpg");
  height: 500px;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  position: relative;
  padding-top: 50px;
  text-shadow: 2px 2px #10171F;
}

#dashHashtag h2 {
  margin-bottom: 25px;
  padding-top: 25px;
  font-size: 250%;
  padding-right: 10px;
  padding-left: 10px;
}

#dashHashtag p {
  color: white;
  font-size: 150%;
  padding-right: 10px;
  padding-left: 10px;
}

#dashHashtag .photo {
  border-radius: 50%;
  border: solid #02C7F7 10px;
  position: absolute;
  height: 230px;
  width: 230px;
  bottom: -130px;
  left: 50%;
  margin-left: -115px;
}

.contentBack {
  background-image: url("/assets/design/bckg.png");
  background-repeat: repeat;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 50vh;
}

h2 {
  padding: 0;
  margin: 0;
  font-family: "Lato",sans-serif;
  font-size: 1.3em;
}

.content {
  background-color: #F9FBFF;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  color: #333;
  margin: 0;
}

footer {
  min-height: 100px;
  width: 100%;
  background: #10171F;
  display: flex;
  padding: 0 20%;

  >div {
    width: 50%;
  }

  p {
    color: #E8E8E8;
    font-size: 0.9em;
  }

  h3 {
    margin: 0;
    color: #E8E8E8;
    font-size: 1.0em;
    margin-top: 0.5em;
    border-bottom: solid 1px #02C7F7;
    margin-bottom: 0.5em;
    width: 250px;
    max-width: 100%;
  }
}

#copyright {
  background-color: #10171F;
  color: #AAACA9;
  font-size: 0.8em;
  padding: 0.5em 20%;
}

.followNetwork {
  border-radius: 50%;
  border: solid 2px #02C7F7;
  float: left;
  margin-right: 0.5em;
  width: 52px;
  height: 52px;
}

.followNetwork:hover {
  background-color: #02C7F7;
  cursor: pointer;
  transition: background 0.6s;
}

.gras {
  font-weight: bold;
}

table {
  border-collapse:separate; 
  border-spacing:1em;
  width: 100%;
}

.tableClass tr>td:first-child {
  width: 25%;
  color: black;
  font-weight: bold;
}

.circularBlock {
  display: block;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  background-color: white;
  border: solid 8px #02C7F7;
}

.circularBigBlock {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: white;
  margin: auto;
}

.circularSmallBlock {
  display: block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  margin: auto;
  margin-bottom: 15px;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.circleBlack {
  border-radius: 50%;
  border: solid 8px black;
  margin: 20px;
}

input, textarea {
  width: 100%;
  font-size: 1em;
}

select {
  font-size: 1em;
  color: #333333;
}

input[type="submit"] {
  font-weight: bold;
  color: #333333;
}

input[name="mail"] {
  display: none;
}

a {
  color: #1A668E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a:hover {
  text-decoration: none;
}

.red {
  color: red;
}

.green {
  color: green;
}

.gras {
  font-weight: bold;
}

.erreur {
  color: #E32529;
  background-color: #F2AEAE;
  border: solid 1px #E32529;
  border-left: solid 10px #E32529;
  padding: 8px;
}

.valide {
  color: #078848;
  background-color: #E3FFEC;
  border: solid 1px #078848;
  border-left: solid 10px #078848;
  padding: 8px;
}

#menuMobile {
  display: none;
}

.tableClass td:not(:first-child) {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(64, 167, 220);
}

.tableClass tr:nth-child(2n) td:not(:first-child) {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.tableClass tr:nth-child(2n+1) td:not(:first-child) {
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.tableClass tr td {
  position: relative;
}

.post-entry h2 {
  padding: 10px;
}

.post-entry p {
  margin-bottom: 10px;
}

.post-infos {
  float: right;
}

.post-category {
  font-weight: bold;
}

.post-tag {
  background-color: #02C7F7;
  border-radius: 5px;
  padding: 5px;
  line-height: 35px;
  color: white;
  text-shadow: 1px 1px 1px black; 
}

.post-meta {
  background-color: white;
  text-align: center;
  padding-bottom: 5px;
}

.post-content {
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #02C7F7;
  padding: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-bottom: 10px;
}

.post-content p {
  margin-top: 15px;
  margin-bottom: 15px;
}

body .contentBack .tableClass.tableCV tr td {
  border-radius: 0;
}

.tile-wrapper {
  padding: 30px 0 0 0;
}

.tile, .tile-wrapper {
  h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 26px;
  }
}

.tile {
  width: 100%;
  padding: 30px 20%;
  display: flex;
  align-items: center;
  background-color: #FFF;
  background-size: cover;
  color: #10171F;
  min-height: 340px;
  
  >div {
    width: 50%;
    flex-grow: 1;
    position: relative;
  }

  p {
    margin-bottom: 15px;
  }

  h3 {
    text-transform: uppercase;
  }

  img {
    max-width: 100%;
  }

  &.no-min-height {
    min-height: 0;
  }

  &.no-padding {
    padding: 0;
  }

  &.tile-75 {
    >div:first-child {
      width: 25%;
    }
    >div:last-child {
      width: 75%;
    }
  }
}

.tile.align-normal {
  align-items: normal;
}

.content-container {
  padding: 30px 20%;
}

.dark-tile {
  color: #FFF;
  
  h1, h2, p {
    color: inherit;
    text-shadow: 1px 1px #10171F;
  }

  h1 {
    font-size: 40px;
  }
}

.black-container {
  background-color: rgba(0, 0, 0, 0.6);
  border: solid 1px #02C7F7;
  border-radius: 10px;
  padding: 20px;
}

.blur-container {
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgba(0, 0, 0, 0.6)));
  padding: 20px;
  position: relative;
}
.blur-container::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  height: 1px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #02C7F7));
}

.blur-container::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  height: 1px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #02C7F7));
}

.timeline-element {
  padding-left: 20px;
  position: relative;
  border-left: solid 4px #02C7F7;
  padding-top: 30px;
  padding-bottom: 30px;

  &:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background-color: #FFF;
    border: solid 4px #02C7F7;
    border-radius: 50%;
    position: absolute;
    left: -11px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.padding-lr-20 {
  padding: 0 20px;
}

.height-240 {
  height: 240px;
}

/* Image backgrounds */
.vancouver {
  background-image: url("/assets/images/vancouver.jpg");
  background-position: bottom;
}

.capilano {
  background-image: url("/assets/images/capilano-bridge.jpg");
  background-position: bottom;
}

.paris {
  background-image: url("/assets/images/paris.jpg");
}

.planet {
  background-image: url("/assets/images/planet.jpg");
  background-position: bottom;
}

.fox {
  background-image: url("/assets/images/fox.jpg");
}

.atlantis {
  background-image: url("/assets/images/atlantis.jpg");
}

.pencil {
  background-image: url("/assets/images/pencil.jpg");
}

.keyboard {
  background-image: url("/assets/images/keyboard.jpg");
}

.center {
  text-align: center;
}

.align-items-normal {
  align-items: normal;
}

/* Sprites */

/* General */
.sprite-general {
  background-image: url("/assets/design/general.png");
  background-repeat: no-repeat;
  display: block;
}

.drupal {
background-position: -5px -5px;
}

.github {
  background-position: -63px -5px;
}

.linkedin {
 background-position: -5px -63px;
}

.npm {
  background-position: -121px -5px;
}

.buttonMenu {
  width: 55px;
  height: 55px;
  background-position: -63px -63px;
}

.logoWebsite {
  width: 55px;
  height: 55px;
  background-position: -128px -63px;
}

/* Sprite for CV */

.sprite-cv {
  background-image: url("/assets/images/cv-sprite.png");
  background-repeat: no-repeat;
  display: block;
  width: 150px;
  height: 150px;
}

.sprite-adoor {
background-position: -5px -5px;
}

.sprite-aframe {
 background-position: -165px -5px;
}

.sprite-amp {
  background-position: -325px -5px;
}

.sprite-apache {
  background-position: -485px -5px;
}

.sprite-b2g {
  background-position: -645px -5px;
}

.sprite-coding2 {
  background-position: -5px -165px;
}

.sprite-comicbook {
  background-position: -165px -165px;
}

.sprite-css {
  background-position: -325px -165px;
}

.sprite-d8 {
  background-position: -485px -165px;
}

.sprite-french {
  background-position: -645px -165px;
}

.sprite-git {
  background-position: -5px -325px;
}

.sprite-gitlab {
  background-position: -165px -325px;
}

.sprite-html {
  background-position: -325px -325px;
}

.sprite-jekyll {
  background-position: -485px -325px;
}

.sprite-jenkins {
  background-position: -645px -325px;
}

.sprite-jquery {
  background-position: -5px -485px;
}

.sprite-js {
  background-position: -165px -485px;
}

.sprite-letsencrypt {
  background-position: -325px -485px;
}

.sprite-lxc {
  background-position: -485px -485px;
}

.sprite-mysql {
  background-position: -645px -485px;
}

.sprite-nginx {
  background-position: -5px -645px;
}

.sprite-patrick_currie {
  background-position: -165px -645px;
}

.sprite-php {
  background-position: -325px -645px;
}

.sprite-spanish {
  background-position: -485px -645px;
}

.sprite-sport {
  background-position: -645px -645px;
}

.sprite-tux {
  background-position: -805px -5px;
}

.sprite-varnish {
  background-position: -805px -165px;
}

.sprite-webassembly {
  background-position: -805px -325px;
}

.sprite-windows {
  background-position: -805px -485px;
}



/* Overwrite pour mobiles*/

@media all and (max-device-width: 480px)
{
  .hidden-mobile {
    display: none;
  }

  #descSite {
    padding: 0.5em;
    font-size: 1em;
  }
  
  .contentBack {
    padding: 0.5em;
  }

  .circularBlock {
    height: 5em;
    width: 5em;
  }
  
  .quisuisje {
    display: none;
  }

  .first-tile {
    margin-top: 75px;
  }

  .tile {
    flex-direction: column;
    padding: 30px 5%;

    > div {
      width: 100%;
      
      &:first-child {
        margin-bottom: 20px;
      }
    }
    
    &.tile-75 {
      > div:first-child {
        width: 100%;
      }

      > div:last-child {
        width: 100%;
      }
    }

    .timeline-element:first-child {
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .content-container {
    padding: 30px 5%;
  }

  footer {
    padding: 0 10%;

    > div {
      width: 100%;
    }
  }

  #copyright {
    padding: 0 10%;
  }

  .buttonMenu {
    float: right;
  }
  
  .buttonMenu:hover {
    cursor: pointer;
  }
  
  .buttonMenu:active {
    background-color: #02C7F7;
  }

  #menuMobile {
    display: block;
    margin: 0;
    padding: 0;
    
    a {
      display: inline;
    }
  }
  
  #menuMobile:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #menuMobile a {
    padding: 0;
  }
  
  #menuMobile a:active {
    background-color: #02C7F7;
  }
  
  #menuMobile .logoWebsite {
    position: absolute;
    float: left;
  }
  
  ul .logoWebsite {
    display: none;
  }
  
  nav ul {
    flex-direction: column;
    
    li {
      width: 100%;

      &:not(:first-child), &.selected:not(:first-child) {
        border-bottom: 0;
        border-top: solid 1px #ACAEAA;
        font-size: 1.0em;
      }

      a {
        color: white;
      }
    }
  
    .button-link-reverse {
      border: none;
      color: white;
    }
  }
  
  nav li a:active, footer a {
    background-color: #02C7F7;
  }

  .language-switcher {
    position: static;
  }
  
  .visible {
    display: block;
  }
  .hidden {
    display: none;
  }

  #dashHashtag h2 {
    margin-bottom: 5px;
    padding-top: 15px;
    font-size: 165%;
  }

  #dashHashtag p {
    font-size: 110%;
  }

  #dashHashtag .photo {
    height: 180px;
    width: 180px;
    bottom: -95px;
    margin-left: -100px;
  }

  .timeline-line-mobile {
    padding-left: 20px;
    position: relative;
    border-left: solid 4px #02C7F7;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media all and (max-device-width: 800px) and (min-device-width: 481px)
{
  #dashHashtag p {
    font-size: 140%;
  }
  
  #dashHashtag .photo {
    height: 200px;
    width: 200px;
    bottom: -105px;
    margin-left: -110px;
  }
  
  #dashHashtag h2 {
    margin-bottom: 5px;
    padding-top: 15px;
    font-size: 210%;
  }
}
