<div class="lineDesign"></div>
<footer>
  <div>
    <h3>{{ site.follow_me[page.lang] }}</h3>
    <div>
      <a href="https://github.com/pjoulot"><div class="followNetwork github"></div></a>
      <a href="http://fr.linkedin.com/pub/philippe-joulot/89/490/b7a"><div class="followNetwork linkedin"></div></a>
      <a href="https://www.drupal.org/u/phjou"><div class="followNetwork drupal"></div></a>
      <a href="ttps://www.npmjs.com/~stargayte"><div class="followNetwork npm"></div></a>
    </div>
  </div>
  <div class="quisuisje">
    <h3>{{ site.whoami[page.lang] }}</h3>
    <p>{{ site.footer_description[page.lang] }}</p>
  </div>
</footer>
<div id="copyright">
  © 2016 - 2017 {{ site.copyright[page.lang] }}
</div>
<script type="text/javascript">function menuShow(){var classNom=document.getElementById('mainMenu').className;if(classNom=='visible'){document.getElementById('mainMenu').className='hidden';}else{document.getElementById('mainMenu').className='visible';}}</script>
