<nav>
	<div id="menuMobile">
		<a href="http://www.philippejoulot.fr"><div class="logoWebsite"></div></a>
		<div class="buttonMenu" onclick="menuShow();"></div>
	</div>
	<ul id="mainMenu">
	   <li><a href="{{ site.url }}"><div class="logoWebsite"></div></a></li>
	   <li><a href="{{base}}/cv.html"><span>CV</span></a></li>
	   <li><a href="{{base}}/projets-benevoles.html"><span>Projets bénévoles</span></a></li>
	   <li><a href='{{base}}/projets-personnels.html'><span>Projets personnels</span></a></li>
           <li><a href="{{base}}/blog"><span>Blog</span></a></li>
	   <li><a href="{{base}}/a-propos.html"><span>A Propos</span></a></li>
	   <li><a href="{{base}}/contact.html"><span>Contact</span></a></li>
	</ul>
</nav>
