{% include base.html %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=yes" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords[page.lang] }}{% endif %}">

  <link rel="stylesheet" href="{{base}}/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{base}}/assets/design/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{base}}/assets/design/favicon-16x16.png">

</head>
