<nav>
  <div id="menuMobile">
    {% if site.base_lang == page.lang %}
      <a href="{{ site.url }}"><div class="logoWebsite"></div></a>
    {% else %}
      <a href="{{ site.url }}/{{ page.lang }}"><div class="logoWebsite"></div></a>
    {% endif %}
    <div class="buttonMenu" onclick="menuShow();"></div>
  </div>
  <ul id="mainMenu">
    {% if site.base_lang == page.lang %}
      <li><a href="{{ site.url }}"><div class="logoWebsite"></div></a></li>
    {% else %}
      <li><a href="{{ site.url }}/{{ page.lang }}"><div class="logoWebsite"></div></a></li>
    {% endif %}

    {% assign pages=site.pages | where:"lang", page.lang %}
    {% for my_page in pages %}
      {% if my_page.title %}
        <li><a href="{{ my_page.url | prepend: site.baseurl }}"><span>{{ my_page.title }}</span></a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="language-switcher">
    <a href="{{site.url }}/en">EN</a> 
    <a href="{{site.url }}">FR</a>
  </div>
</nav>
