---
layout: default
---

<h1 id="descSite">Blog</h1>

<div class="lineDesign"></div>
<div class="contentBack">
<table class="tableClass">
{% for post in paginator.posts %}
  <tr>
    <td><img src ="{{base}}/assets/images/firefox-logo.png" alt="Mozilla" class="circularBlock" /></td>
    <td>
      <h2>{{ post.title }}</h2>
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      <p>{{ post.excerpt }}</p>
      {% for category in post.categories %}
      <span class="post-category">{{category}}</span>
      {% endfor %}
       <a class="post-link" href="{{base}}{{ post.url }}">{{ post.title }}</a>
    </td>
  </tr>
{% endfor %}
</table>
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
</div>
